@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'styles/font.scss';
@import 'styles/spinner.scss';
@import 'styles/titlebar.scss';

body {
	overflow: hidden;
	user-select: none;
	cursor: default;
}

.text-white-stroke {
	color: red;
	text-shadow:
		-2px -2px 0 #fff,
		2px -2px 0 #fff,
		-2px 2px 0 #fff,
		2px 2px 0 #fff;
}
